extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Joseph Monreal

        //- Feel free personalize the title below
        p.lead.text-light
          | • Product Specialist @ Mercury Insurance • Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I received my education at the University of Arizona where I received my Bachelor of General Studies Degree. So, what exactly did I even learn with this degree? Well most of my coursework was focused on programming / theory / and computer science courses. 
            | I get the question so why didn’t you exactly take on Computer Science as a degree and I just wasn’t sure at the time whether that was the route I wanted to pursue.
            | Now that I’m a Product Specialist working for Cognizant and contracted for Mercury Insurance I’ve really grown to enjoy and realize that programming and tech is where I want to be. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li Java
          li PHP
          li SQL
          li MySQL
          li HTML
          li CSS
          li CSS Grid
          li jQuery
          li GOSU
          li GitHub
        h6 Contact Info

        //- Add your own contact info
        ul
          li 520-471-9963
          li joemonreal23@icloud.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/joseph-monreal-7a0774b0/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/josephmonreal00?tab=repositories', target='_blank') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  