extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Joseph Monreal

        //- Feel free personalize the title below
        p.lead.text-light
          | Product Specialist @ Mercury Insurance / Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Received my education at the University of Arizona where I recieved a Bachelor of General Studies Degree. So what exactly did I even learn with this degree? Well I focused my coursework mainly on Computer Science courses. 
            | That was the core of my education at the University of Arizona. People and Recruiters ask me why didn't you study Computer Science? Honestly because at the time I honestly didn't know exactly what I wanted to become and do as a profession.
            | Now that I'm older and I landed my first technical professional role at Cognizant as a Product Specialist I've just grown extemely interested with the field. I really enjoy building with JavaScript but also with Java. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express
          li JavaScript
          li Java
          li PHP
          li SQL
          li MySQL
          li HTML
          li CSS
          li CSS Grid
          li jQuery
          li GOSU
          li GitHub
        h6 Contact Info

        //- Add your own contact info
        ul
          li 520-471-9963
          li joemonreal23@icloud.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/joseph-monreal-7a0774b0/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/josephmonreal00?tab=repositories', target='_blank') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  